@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #131212;
    color: #e9e5e5;
}

header {
    background-color: #52057B;
}

footer {
    background-color: #52057B;
}

h1, h2 {
    color: #BC6FF1;
}

a {
    color: #892CDC;
    text-decoration: none;
}

a:hover {
    color: #BC6FF1;
    text-decoration: underline;
}

.img-small {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.flex.flex-wrap img {
    width: 32px; /* Tamaño fijo */
    height: 32px; /* Tamaño fijo */
    object-fit: cover; /* Ajusta la imagen al contenedor */
    border-radius: 4px; /* Esquinas redondeadas, opcional */
    display: block; /* Evita problemas de alineación */
    margin: 0 auto; /* Centra la imagen */
    background-color: #222; /* Fondo para imágenes cargadas incorrectamente */
}
